{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <section class="page-section">
        <p></p>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <div class="container">
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Je supprime une
                        Candidature</h2>
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Entreprise</th>
                            <td>{{ candidacy.nameEntreprise }}</td>
                        </tr>
                        <tr>
                            <th>Créé le</th>
                            <td>{{ candidacy.createdAt ? candidacy.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Commentaires</th>
                            <td>{{ candidacy.content }}</td>
                        </tr>
                        <tr>
                            <th>{{ include('candidacy/_delete_form.html.twig') }}</th>
                            <td><a href="{{ path('app_candidacy_edit', {'id': candidacy.id}) }}"
                                   class="btn btn-primary btn-sm">Modifier</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
